@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500;600&display=swap');

.list-container ul li:hover{
  cursor: pointer;
  font-weight: 600;
}

.list-container ul li:hover::after{
  width: 100%;
}

.list-container ul li::after{
  content: '';
  background-color: black;
  height: 3px;
  border-radius: 12px;
  display: flex;
  width: 0px;
  transition: width .3s ease;
}

#about .text-container{
  max-width: 600px;
}